In [1]:
import numpy as np
import pandas as pd
import sys
from sklearn.feature_extraction.text import CountVectorizer
from scipy.sparse import csr_matrix
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import FunctionTransformer
from sklearn.feature_extraction.text import TfidfTransformer

In [2]:
gdata = pd.read_json('data/genres.json.gz', orient='record', lines=True)
odata = pd.read_json('data/omdb-data.json.gz', orient='record', lines=True)
rdata = pd.read_json('data/rotten-tomatoes.json.gz', orient='record', lines=True)
wdata = pd.read_json('data/wikidata-movies.json.gz', orient='record', lines=True)

In [3]:
# Join wdata and odata by: first set 'imdb_id' as index then join on 'imdb_id'
# We need column 'omdb_plot' from odata
data = wdata.join(odata.set_index('imdb_id'), on='imdb_id')

In [4]:
# Drop 'rotten_tomatoes_id' column to avoid conflict on joining
# (The above join already contains column named 'rotten_tomatoes_id')
rdata = rdata.drop(['rotten_tomatoes_id'], axis=1)

In [5]:
# Join data and rdata similar to above:
# We need 'audience_average' and 'critic_average' from rdata
data = data.join(rdata.set_index('imdb_id'), on='imdb_id')

In [6]:
# Select only the columns needed (plot => audience_average)
data = data[['imdb_id', 'enwiki_title', 'omdb_plot', 'audience_average', 'critic_average']]

In [7]:
data.size

202150

In [8]:
# Drop empty plots
# Plots marked as NaN have data type 'float', non-empty plots have data type 'str'
data['is_empty_plot'] = data['omdb_plot'].map(lambda plot: type(plot) == float)

In [9]:
# Drop empty plots cont'd
data = data[data['is_empty_plot'] == False]

In [10]:
# Select only the rows needed by: Drop NaN review averages
data = data[np.isnan(data['audience_average']) == False]

In [11]:
# Select only the rows needed by: Drop NaN review averages
data = data[np.isnan(data['critic_average']) == False]

In [12]:
data.size

39582

In [13]:
# Round review averages and convert them to string: to be used as class labels
data['audience_average'] = data['audience_average'].round()

In [14]:
# Rounding cont'd: convert to int to trim decimals, then convert to str
data['audience_average'] = data['audience_average'].astype('int').astype('str')
data

,imdb_id,enwiki_title,omdb_plot,audience_average,critic_average,is_empty_plot
6,tt3469798,Orbiter 9,Helena is a young girl who spent all her life ...,3,5.5,False
20,tt6505968,Euthanizer,A man who euthanizes animals as a side job run...,4,6.7,False
46,tt4181782,The Crucifixion (film),When Nicole comes in contact with Father Anton...,2,3.8,False
66,tt0498329,We Live in Public,"On the 40th anniversary of the Internet, WE LI...",4,7.1,False
68,tt2006040,A Fantastic Fear of Everything,Jack is a children's author turned crime novel...,3,4.2,False
73,tt0074486,Eraserhead,A film that defies conventional logic and stor...,4,8.3,False
74,tt0066765,And Now for Something Completely Different,A collection of re-filmed sketches from the fi...,4,6.9,False
78,tt1104001,Tron: Legacy,"Sam Flynn, the tech-savvy 27-year-old son of K...",4,5.8,False
80,tt0054047,The Magnificent Seven,A bandit terrorizes a small Mexican farming vi...,4,8.0,False
81,tt0099348,Dances with Wolves,Lt. John Dunbar is dubbed a hero after he acci...,4,7.5,False
84,tt1375666,Inception,"Dom Cobb is a skilled thief, the absolute best...",4,8.1,False
85,tt1239285,Around a Small Mountain,Biopic based on the life of author Raymond Rou...,3,6.2,False
89,tt0056687,What Ever Happened to Baby Jane? (1962 film),In a tale that almost redefines sibling rivalr...,4,7.9,False
92,tt2023587,Mama (2013 film),"The senior partner of an investment brokerage,...",3,6.0,False
97,tt1151915,Nothing like the Holidays,A Puerto Rican family living in the area of Hu...,3,5.7,False
102,tt0106677,Dazed and Confused (film),It's the last day of school at a high school i...,4,7.8,False
103,tt0259324,Ghost Rider (film),When the motorcyclist Johnny Blaze finds that ...,3,4.2,False
104,tt0113277,Heat (1995 film),Hunters and their prey--Neil and his professio...,4,7.8,False
109,tt0062824,Coogan's Bluff (film),"Coogan, an Arizona cop, is sent to New York to...",3,6.7,False
112,tt0325980,Pirates of the Caribbean: The Curse of the Bla...,This swash-buckling tale follows the quest of ...,4,7.1,False
113,tt0068646,The Godfather,When the aging head of a famous crime family d...,4,9.3,False
116,tt0473444,Curse of the Golden Flower,"China, Later Tang Dynasty, 10th Century. On th...",4,6.4,False
125,tt1024648,Argo (2012 film),"In 1979, the American embassy in Iran was inva...",4,8.4,False
128,tt0070735,The Sting,"When a mutual friend is killed by a mob boss, ...",4,8.3,False
130,tt0383010,The Three Stooges (2012 film),Left on the doorstep of an orphanage run by nu...,3,5.4,False
134,tt5278868,The Lovers and the Despot,"In 1970s South Korea, actor Choi Eun-hee and h...",3,6.8,False
140,tt4986098,The Titan (film),A military family takes part in a ground-break...,2,3.9,False
163,tt0367153,Toolbox Murders,"In Hollywood, the young teacher Nell and her h...",3,6.0,False
176,tt0490499,The Tiger's Tail,"After a chance encounter, a Dubliner (Gleeson)...",3,4.7,False
203,tt2024544,12 Years a Slave (film),Based on an incredible true story of one man's...,4,8.9,False
...,...,...,...,...,...,...
40302,tt1663207,Life of Crime (film),Two common criminals get more than they bargai...,3,5.9,False
40303,tt2151739,Meet Me in Montenegro,"In this personal, inter-continental love story...",4,5.9,False
40305,tt2377322,Deliver Us from Evil (2014 film),"In DELIVER US FROM EVIL, New York police offic...",3,4.7,False
40316,tt2368553,Assault on Wall Street,Jim is an average New Yorker living a peaceful...,3,3.1,False
40317,tt2693664,Young Ones (film),Set in a near future when water has become the...,3,5.3,False
40323,tt2910814,The Signal (2014 film),"On a road trip, Nic and two friends are drawn ...",3,5.8,False
40325,tt1396523,Revenge of the Green Dragons,REVENGE OF THE GREEN DRAGONS follows two immig...,3,4.0,False
40329,tt2828996,A Haunted House 2,After losing his beloved Kisha in a car accide...,3,2.0,False
40343,tt2385195,Rhymes for Young Ghouls,"Red Crow Mi'g Maq reservation, 1976: By govern...",4,8.0,False
40349,tt2620290,Fire in the Night,Fire in the Night relives the tragic events th...,4,7.4,False
40352,tt4715652,The Beautiful Days of Aranjuez,A beautiful summer day. A garden. A terrace. A...,2,3.2,False
40353,tt5442430,Life (2017 film),Six astronauts aboard the space station study ...,3,5.9,False
40357,tt5580390,The Shape of Water,At a top secret research facility in the 1960s...,4,8.4,False
40364,tt1691152,David Lynch: The Art Life,David Lynch takes us on an intimate journey th...,4,7.4,False
40366,tt4170344,I Called Him Morgan,"On a snowy night in February 1972, celebrated ...",4,7.9,False
40368,tt5215486,Dawson City: Frozen Time,"Dawson City: Frozen Time, pieces together the ...",4,8.1,False
40371,tt4353996,The King's Choice,"On the 9th of April 1940, the German war machi...",4,6.7,False
40372,tt4381236,The Greasy Strangler,"The Los Angeles-set tale follows Ronnie, a man...",3,5.7,False
40373,tt5804038,I Am Not Your Negro,"In 1979, James Baldwin wrote a letter to his l...",4,8.9,False
40374,tt3778644,Solo: A Star Wars Story,During an adventure into a dark criminal under...,4,6.4,False
40376,tt3922798,The Siege of Jadotville (film),"In 1961, the UN sends an Irish peacekeeper tro...",4,6.2,False
40380,tt3741632,The Leisure Seeker,A runaway couple go on an unforgettable journe...,3,5.2,False
40383,tt2935662,Portrait of a Serial Monogamist,"Smart, successful, and charming, Elsie is the ...",3,6.1,False
40384,tt1293847,XXx: Return of Xander Cage,Extreme athlete turned government operative Xa...,3,4.9,False
40387,tt5735582,The Tenants Downstairs,A loafer inherits an apartment block and lets ...,3,5.7,False
40393,tt4465564,Fifty Shades Darker (film),Christian and Ana decide to rekindle their rel...,3,3.3,False
40396,tt2474932,Despite the Falling Snow (film),"In 1950s Moscow, communist Katya secretly spie...",3,4.1,False
40400,tt4116284,The Lego Batman Movie,"There are big changes brewing in Gotham City, ...",4,7.5,False
40416,tt1711525,Office Christmas Party,When the CEO (Jennifer Aniston) tries to close...,3,4.8,False
40425,tt4771932,The Happiest Day in the Life of Olli Mäki,"The true story of Olli Mäki, the famous Finnis...",4,7.7,False

In [15]:
X = data['omdb_plot'].values

In [16]:
y = data['audience_average'].values

In [17]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y)

In [18]:
bayes_model = make_pipeline(
    CountVectorizer(),
    TfidfTransformer(use_idf=True),
    MultinomialNB(),
)

In [19]:
bayes_model.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('countvectorizer', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
  ...alse, use_idf=True)), ('multinomialnb', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [20]:
# Score with training data: I got 0.876...
bayes_model.score(X_train, y_train)

0.8682029512836063

In [21]:
# Score with validation data: I got 0.598... which is too low
bayes_model.score(X_valid, y_valid)

0.5927272727272728

In [22]:
# SVM to be implemented below